<div itemscope itemtype="http://schema.org/SiteNavigationElement" class="fixed_menu">
	<div class="wrapper">
		<div class="full_screen_dropdown">
			<a itemprop="url" href="/mezhkomnatnye-dveri/">Межкомнатные двери</a>
			<div class="dropdown">
				<div class="wrapper">
					<div class="section">
						<p class="section_title">Тип</p>
						<div class="double">
							<ul>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/ekoshpon/">Экошпон</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/ekoshpon-3d/">Экошпон 3Д</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/shponirovannye/">Шпонированные</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/shpon-ekonom/">Шпон Эконом</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/shpon-duba-belorusskie/">Шпон Дуба (Белорусские)</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/krashenye-emal/">Крашеные (Эмаль)</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/matovye-unilak/">Матовые (унилак)</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/evroshpon/">Евро Шпон</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/glyancevye/">Глянцевые</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/laminirovannye/">Ламинированные и ПВХ</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/steklyannye/">Стеклянные</a></li>
								<li><a itemprop="url" href="/mezhkomnatnye-dveri/massiv-100/">Массив 100%</a></li>
							</ul>
						</div>
					</div>
					<div class="section">
						<p class="section_title">Цвет</p>
						<ul>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/belye/">Белые</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/serye/">Серые</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/temnye/">Темные</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/svetlye/">Светлые</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/venge/">Венге</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/korichnevye/">Коричневые</a></li>
						</ul>
					</div>
					<div class="section">
						<p class="section_title">Тип помещения</p>
						<ul>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/v-spalnyu/">В спальню</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/v-vannuyu-i-tualet/">В ванную и туалет</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/v-gostinuyu/">В гостиную</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/v-kukhnyu/">В кухню</a></li>
						</ul>
					</div>
					<div class="section">
						<p class="section_title">Производитель</p>
						<ul>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/ulyanovskie-dveri/">Ульяновские</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/ryazanskie-dveri/">Рязанские</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/shpon-duba-belorusskie/">Белорусские</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/vladimirskie-dveri/">Владимировские</a></li>
						</ul>
					</div>
					<div class="section">
						<a href="/systems/" class="section_title">Системы</a>
						<ul>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/invisible/">Скрытая (INVISIBLE)</a></li>
							{# <li><a itemprop="url" href="/mezhkomnatnye-dveri/invisible-reverce/">INVISIBLE REVERCE</a></li> #}
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/kupe-system/">Купе</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/kupe-dvojnaya/">Двойная купе </a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/knizhka/">Книжка</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/infinity/">INFINITY</a></li>
							{# <li><a itemprop="url" href="/mezhkomnatnye-dveri/dvustvorchatye-dveri/">Двустворчатые</a></li> #}
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/compack/">Compack</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/povorotnaya-sistema/">Поворотная система(Рото)</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-dveri/magic/">MAGIC</a></li>
							<li><a itemprop="url" href="/mezhkomnatnye-razdvizhnye-peregorodki/">Раздвижные перегородки</a></li>
						</ul>
					</div>
					<img src="/image/specials/rassrochka.webp" alt="Рассрочка на двери и компектующие от сбербанка" data-fancybox data-src="#modal">
				</div>
			</div>
		</div>
		<div class="simple_dropdown">
			<a itemprop="url" href="/dveri-vhodnye/">Входные двери</a>
			<ul class="dropdown">
				<li><a itemprop="url" href="/dveri-vhodnye/dlya-doma/">Для дома</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/dlya-kvartiry/">Для квартиры</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/s-zerkalom/">С зеркалом</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/s-kovkoi/">С ковкой</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/s-termorazryvom/">С терморазрывом</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/so-steklom-steklopaket/">Со стеклом (стеклопакет)</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/tamburnye/">Тамбурные</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/ulichnye/">Уличные</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/uteplennye/">Утепленные</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/shumoizolyacionnye/">Шумоизоляционные</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/protivopozharnye/">Противопожарные</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/antivandalnye/">Антивандальные</a></li>
				<li><a itemprop="url" href="/dveri-vhodnye/akciya-50/">Акция -50%</a></li>
			</ul>
		</div>
		{% for category in categories %}
			{% if category.children %}
				<div class="simple_dropdown">
					<a itemprop="url" href="{{ category.href }}">{{ category.name }}</a>
					<ul class="dropdown">
						{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
							{% for child in children %}
							<li><a itemprop="url" href="{{ child.href }}">{{ child.name }}</a></li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<li><a itemprop="url" href="{{ category.href }}">{{ category.name }}</a></li>
			{% endif %}
		{% endfor %}

		<div class="simple_dropdown">
			<p>Декор</p>
			<ul class="dropdown">
				<li><a itemprop="url" href="/rejka-dekorativnaya/">Рейка декоративная</a></li>
				<li><a itemprop="url" href="/plintusy/">Плинтуса</a></li>
			</ul>
		</div>

		<div class="simple_dropdown">
			<p>Услуги</p>
			<ul class="dropdown">
				<li><a itemprop="url" href="/zamer">Замер</a></li>
				<li><a itemprop="url" href="/mezhkomnatnye-dveri-nedorogo-s-ustanovkoi-pod-klyuch">Установка межкомнатных дверей</a></li>
				<li><a itemprop="url" href="/vhodnye-dveri-s-ustanovkoy">Установка входных дверей</a></li>
				<li><a itemprop="url" href="/delivery">Доставка</a></li>
			</ul>
		</div>

		<div class="simple_dropdown">
			<a itemprop="url" href="/o-kompanii">О компании</a>
			<ul class="dropdown">
				<li><a itemprop="url" href="/vse-statji">Полезная информация</a></li>
				<li><a itemprop="url" href="/foto-ustanovlennyh-dverei">Наши работы</a></li>
			</ul>
		</div>

		<a itemprop="url" class="special_link" href="/specials/">
			<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="11.0605" cy="11.1946" r="10" stroke="#FF0028" />
				<line x1="0.5" y1="-0.5" x2="11.2606" y2="-0.5" transform="matrix(0.706835 -0.707378 0.706835 0.707378 7.2998 15.7783)" stroke="#FF0028" stroke-linecap="round" />
				<circle cx="7.76684" cy="7.87084" r="1.26" fill="#FF0028" />
				<circle cx="13.6418" cy="14.1958" r="1.26" fill="#FF0028" />
			</svg>
			Акции
		</a>
		<a itemprop="url" href="/contact/">Контакты</a>
	</div>
</div>