{{ header }}
{% if edit %}
	<noindex><a class="admin_product_edit" target="_blank" href="{{ edit }}" rel="nofollow">Редактировать</a></noindex>
{% endif %}
<div id="product-manufacturer" class="wrapper">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
		{% for key,breadcrumb in breadcrumbs %}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				{% if loop.last %}
					<p itemprop="item">
						<span itemprop="name">
							{{ breadcrumb.text }}
						</span>
					</p>
				{% else %}
					<a itemprop="item" href="{{ breadcrumb.href }}">
						<span itemprop="name">
							{{ breadcrumb.text }}
						</span>
					</a>				
				{% endif %}
				{% set position = key + 1 %}
				<meta itemprop="position" content="{{ position }}" />
			</li>
		{% endfor %}
	</ul>

	{{ content_top }}

	<div class="title-and-filters">
		<h1 class="headline">{{ heading_title }}</h1>

		<div class="sort-options">
			<div class="wrapper">
				<div class="sort-options-body">

					<div class="filter">
						<button class="filter-toggle"><img src="/catalog/view/theme/custom/image/filter.png" alt="фильтр">Фильтр</button>
					</div>

					<div class="sort">
						<button><img src="/catalog/view/theme/custom/image/sort.svg" alt="сортировка">Сортировка</button>
						<ul>
							<li onclick="location = location.origin + location.pathname">
								<img src="image/category/popular.svg" alt="Популярные">
								<span>Популярные</span>
							</li>
							{% for sort in sorts %} 
									<li data-href="{{ sort.href }}" onclick="location = this.getAttribute('data-href');">
										<img src="{{ sort.img }}" alt="{{ sort.text }}">
										<span>{{ sort.text }}</span>
									</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="sum-up-result">{{ results }}</div>
	</div>

	{{ column_left }}

	{% if column_left and column_right %} 
		{% set class = 'col-sm-6' %} 
	{% elseif column_left or column_right %} 
		{% set class = 'col-sm-9' %} 
	{% else %} 
		{% set class = 'col-sm-12' %} 
	{% endif %}

	<div id="content" class="{{ class }}">

		{# <!-- -------------------------------------		CATEGORY BANNER		-------------------------------------- --> #}
		{% if not next_page %}
			{% if thumb and banner_text %}
				<div class="banner">
					<img src="{{ thumb }}" class="img-responsive img-category" alt="{{ heading_title }}" />
					<div class="banner-info">
						<div class="banner-info-text">{{ banner_text }}</div>
						<div class="banner-info-price_block">
							<div class="banner-info-price_block-text">
								<p>{{ parent_category_name }}</p>
								<div class="title">{{ banner_title}}</div>
							</div>
							<div class="price">от <span>{{ lowest_category_price }}</span> руб.</div>
						</div>
					</div>
				</div>
			{% elseif thumb %} 
				<img src="{{ thumb }}" class="img-responsive img-category" alt="{{ heading_title }}" />
			{% endif %}
		{% endif %}
		{#  <!-- -------------------------------------		CATEGORY BANNER		-------------------------------------- --> #}


		{% if categories %}
			<ul class="subcategory-list js-toggle-sub">
				{% for category in categories %}
				<li>
					<a href="{{ category.href }}">{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
		{% endif %} 

		{% if main_category == 59 %}
			{% set crutch = 'mezh-crutch' %} 
		{% elseif main_category == 60 %}
			{% set crutch = 'vhod-crutch' %} 
		{% else %}
			{% set crutch = '' %} 
		{% endif %} 

		{% if products %}
			{% if mobile %}
				<div class="products-list">
					<div class="products-list-body">
						{% for product in products %}
							<div class="product {{ crutch }}" data-id="{{ product.product_id }}">
								{% if product.special_label != '' %}
									<div class="product-special">-{{ product.special_label }}%</div>
								{% endif %}

								<div class="product-top">
									<div class="product-image">
										<a href="{{ product.href }}" title="{% if product.product_color %}{{ product.name }}, цвет: {{ product.product_color }}{% else %}{{ product.name }}{% endif %}">
											<img class="{{ crutch }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
										</a>
										<button class="wishlist" onclick="wishlist($(this).parents('.product'))">
											<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.5 21L9.9775 19.5668C4.57 14.4714 1 11.109 1 6.99455C1 3.63215 3.53575 1 6.775 1C8.602 1 10.3555 1.88283 11.5 3.27248C12.6445 1.88283 14.398 1 16.225 1C19.4642 1 22 3.63215 22 6.99455C22 11.109 18.43 14.4714 13.0225 19.5668L11.5 21Z" fill="#ffffff" stroke="#989898"/>
											</svg>											
										</button>	
									</div>
									<p class="product-name">{{ product.name }}</p>
								</div>								

								<div class="product-caption">
									<div class="product-caption-price">
										{% if not product.special %}
											<p class="new">{{ product.price }}</p>
										{% else %}
											<p class="old line-through">{{ product.price }}</p>
											<p class="new">{{ product.special }}</p>
										{% endif %}
										{% if product.tax %}
											<p class="tax">{{ text_tax }} {{ product.tax }}</p>
										{% endif %}
									</div>
									<div class="button-wrapper">
										<input type="hidden" name="product_id" value="{{ product.product_id }}">
										<button type="button" data-loading-text="Загрузка..." onclick="addToCart(this)">{# Добавить в корзину #}</button>
									</div>
									<button type="button" class="one_click">Купить в 1 клик</button>
								</div>						
							</div>
						{% endfor %}
					</div>
				</div>
			{% else %}
				<div class="products-list">
					<div class="products-list-body">
						{% for product in products %}
							<div class="product {{ crutch }}" data-id="{{ product.product_id }}">

								<div class="product-top">
									<p class="product-name">{{ product.name }}</p>
									{% if product.product_color %}
										<p class="product-color">{{ product.product_color }}</p>
									{% else %}
										<p class="product-color"> </p>
									{% endif %}
									<div class="product-image">
										<a href="{{ product.href }}" title="{% if product.product_color %}{{ product.name }}, цвет: {{ product.product_color }}{% else %}{{ product.name }}{% endif %}">
											<img class="{{ crutch }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
										</a>
										{% if product.special_label != '' %}
											<div class="product-special">-{{ product.special_label }}%</div>
										{% endif %}
										<button class="wishlist" onclick="wishlist($(this).parents('.product'))">
											<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.5 21L9.9775 19.5668C4.57 14.4714 1 11.109 1 6.99455C1 3.63215 3.53575 1 6.775 1C8.602 1 10.3555 1.88283 11.5 3.27248C12.6445 1.88283 14.398 1 16.225 1C19.4642 1 22 3.63215 22 6.99455C22 11.109 18.43 14.4714 13.0225 19.5668L11.5 21Z" fill="#ffffff" stroke="#989898"/>
											</svg>											
										</button>
										<button class="quick_view">Быстрый просмотр</button>
									</div>
								</div>								

								<div class="product-caption">
									<div class="button-wrapper">
										<input type="hidden" name="product_id" value="{{ product.product_id }}">
										<button type="button" data-loading-text="Загрузка..." onclick="addToCart(this)">{# Добавить в корзину #}</button>
									</div>
									<div class="product-caption-price">
										{% if not product.special %}
										<p class="old"> </p>
											<p class="new">{{ product.price }}</p>
										{% else %}
											<p class="old line-through">{{ product.price }}</p>
											<p class="new">{{ product.special }}</p>
										{% endif %}
										{% if product.tax %}
											<p class="tax">{{ text_tax }} {{ product.tax }}</p>
										{% endif %}
									</div>
									<button type="button" class="one_click">Купить в 1 клик</button>
								</div>					
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %} 

			<div class="row">
				<div class="col-sm-12 text-left">
					{{ pagination }}
				</div>
			</div>
		{% endif %} 

		{% if not categories and not products %}
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right">
					<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
				</div>
			</div>
		{% endif %}
	</div>

	<p class="seoText"> В нашем каталоге можно приобрести товары напрямую с фабрики 
		{% for key, breadcrumb in breadcrumbs %}
				{% if loop.last %}{{ breadcrumb.text }}.{% endif %}
		{% endfor %}
		Мы сотрудничаем с производствами, которым доверяем. За многолетний опыт, они ни разу нас не подводили. 
		Стоимость продукции у нас от 1380 рублей, есть элитные модели с покрытием из натурального шпона венге и дуба.
		Все товары привозим аккуратно упакованные в картон и плёнку. Полотна без брака, имеются добавочные комплекты, с таким же окрасом и фактурой. 
	</p>

  <div class="row">
			<div class="col-md-2 col-sm-6 hidden-xs">
				{{ content_bottom }}
			</div>
			{{ column_right }}
	</div>
</div>
{{ footer }}