{{ header }}
<div id="product-category" class="wrapper">
	<ul itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
		{% for key,breadcrumb in breadcrumbs %}
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				{% if loop.last %}
					<p itemprop="item">
						<span itemprop="name">
							{{ breadcrumb.text }}
						</span>
					</p>
				{% else %}
					<a itemprop="item" href="{{ breadcrumb.href }}">
						<span itemprop="name">
							{{ breadcrumb.text }}
						</span>
					</a>				
				{% endif %}
				{% set position = key + 1 %}
				<meta itemprop="position" content="{{ position }}" />
			</li>
		{% endfor %}
	</ul>
	<div class="row">
		<div class="wrapper">
			<h1>Акции и скидки на входные и межкомнатные двери{{ page }}</h1>
			{% if cards %}
				<div class="akcii">
					<span data-fancybox="" data-src="#modal">
						<img src="catalog/view/theme/custom/image/banners/rassrochka-min.webp" class="img-responsive" alt="Акции 100 Дверей - рассрочка на 6 месяцев">
					</span>
					
					<a href="dvernoj-dom_brend">
						<img src="catalog/view/theme/custom/image/banners/dvernoy-dom.webp" class="img-responsive" alt="Дверной дом!">
					</a>

					<a href="/mezhkomnatnye-dveri/?sort=p.price&order=ASC" class="akcii_item">
						<img class="background" src="catalog/view/theme/custom/image/banners/dveri-gost.webp" alt="Акция на двери гост">
						<p class="price">
							от {{ gost_price }} ₽
						</p>
					</a>

					<a href="/furnitura/ruchki/?rdrf[man][0]=34">
						<img src="catalog/view/theme/custom/image/banners/ruchki-min.png" class="img-responsive" alt="Акции 100 Дверей на дверные ручки ARCHIE">
					</a>

					<span data-fancybox="" data-src="#modal">
						<img src="catalog/view/theme/custom/image/banners/sertifikat-potolki.png" class="img-responsive" alt="Акции 100 Дверей скидка на натяжные потолки">
					</span>

					<span data-fancybox="" data-src="#modal">
						<img src="catalog/view/theme/custom/image/banners/novoseli7.png" class="img-responsive" alt="Акции 100 Дверей - скида новоселам 7%">
					</span>

					<span data-fancybox="" data-src="#modal">
						<img src="catalog/view/theme/custom/image/banners/novoseli15.png" class="img-responsive" alt="Акции 100 Дверей - скидка 15%">
					</span>

					<a href="/rasprodazha/">
						<img src="catalog/view/theme/custom/image/banners/big-sale.jpg" class="img-responsive" alt="Двери за пол цены!">
					</a>
				</div>
			{% endif %}
		

		<div class="title-and-filters">
			<h3 class="headline">{{ heading_title }}</h3>

			<div class="sort-options">
				<div class="wrapper">
					<div class="sort-options-body">

						<div class="filter">
							<button class="filter-toggle"><img src="/catalog/view/theme/custom/image/filter.png" alt="фильтр по дверям">Фильтр</button>
						</div>

						<div class="sort">
							<button><img src="/catalog/view/theme/custom/image/sort.svg" alt="сортировка">Сортировка</button>
							<ul>
								<li onclick="location = location.origin + location.pathname">
									<img src="image/category/popular.svg" alt="Популярные">
									<span>Популярные</span>
								</li>
								{% for sort in sorts %} 
										<li data-href="{{ sort.href }}" onclick="location = this.getAttribute('data-href');">
											<img src="{{ sort.img }}" alt="{{ sort.text }}">
											<span>{{ sort.text }}</span>
										</li>
								{% endfor %}
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="sum-up-result">{{ product_total }}</div>
		</div>

		{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}

		{% if products %}
			<div id="content" class="col-sm-9">
				{% if mobile %}
					<div class="products-list">
						<div class="products-list-body">
							{% for product in products %}
								<div class="product {{ crutch }}" data-id="{{ product.product_id }}">
									{% if product.special_label != '' %}
										<div class="product-special">-{{ product.special_label }}%</div>
									{% endif %}

									<div class="product-top">
										<div class="product-image">
											<a href="{{ product.href }}" title="{% if product.product_color %}{{ product.name }}, цвет: {{ product.product_color }}{% else %}{{ product.name }}{% endif %}">
												<img class="{{ crutch }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
											</a>
											<button class="wishlist" onclick="wishlist($(this).parents('.product'))">
												<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11.5 21L9.9775 19.5668C4.57 14.4714 1 11.109 1 6.99455C1 3.63215 3.53575 1 6.775 1C8.602 1 10.3555 1.88283 11.5 3.27248C12.6445 1.88283 14.398 1 16.225 1C19.4642 1 22 3.63215 22 6.99455C22 11.109 18.43 14.4714 13.0225 19.5668L11.5 21Z" fill="#ffffff" stroke="#989898"/>
												</svg>											
											</button>	
										</div>
										<p class="product-name">{{ product.name }}</p>
									</div>								

									<div class="product-caption">
										<div class="product-caption-price">
											{% if not product.special %}
												<p class="new">{{ product.price }}</p>
											{% else %}
												<p class="old line-through">{{ product.price }}</p>
												<p class="new">{{ product.special }}</p>
											{% endif %}
											{% if product.tax %}
												<p class="tax">{{ text_tax }} {{ product.tax }}</p>
											{% endif %}
										</div>
										<div class="button-wrapper">
											<input type="hidden" name="product_id" value="{{ product.product_id }}">
											<button type="button" data-loading-text="Загрузка..." onclick="addToCart(this)">{# Добавить в корзину #}</button>
										</div>
										<button type="button" class="one_click">Купить в 1 клик</button>
									</div>						
								</div>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<div class="products-list">
						<div class="products-list-body">
							{% for product in products %}
								<div class="product {{ crutch }}" data-id="{{ product.product_id }}">

									<div class="product-top">
										<p class="product-name">{{ product.name }}</p>
										{% if product.product_color %}
											<p class="product-color">{{ product.product_color }}</p>
										{% else %}
											<p class="product-color"> </p>
										{% endif %}
										<div class="product-image">
											<a href="{{ product.href }}" title="{% if product.product_color %}{{ product.name }}, цвет: {{ product.product_color }}{% else %}{{ product.name }}{% endif %}">
												<img class="{{ crutch }}" loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}" />
											</a>
											{% if product.special_label != '' %}
												<div class="product-special">-{{ product.special_label }}%</div>
											{% endif %}
											<button class="wishlist" onclick="wishlist($(this).parents('.product'))">
												<svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M11.5 21L9.9775 19.5668C4.57 14.4714 1 11.109 1 6.99455C1 3.63215 3.53575 1 6.775 1C8.602 1 10.3555 1.88283 11.5 3.27248C12.6445 1.88283 14.398 1 16.225 1C19.4642 1 22 3.63215 22 6.99455C22 11.109 18.43 14.4714 13.0225 19.5668L11.5 21Z" fill="#ffffff" stroke="#989898"/>
												</svg>											
											</button>
											<button class="quick_view">Быстрый просмотр</button>
										</div>
									</div>								

									<div class="product-caption">
										<div class="button-wrapper">
											<input type="hidden" name="product_id" value="{{ product.product_id }}">
											<button type="button" data-loading-text="Загрузка..." onclick="addToCart(this)">{# Добавить в корзину #}</button>
										</div>
										<div class="product-caption-price">
											{% if not product.special %}
											<p class="old"> </p>
												<p class="new">{{ product.price }}</p>
											{% else %}
												<p class="old line-through">{{ product.price }}</p>
												<p class="new">{{ product.special }}</p>
											{% endif %}
											{% if product.tax %}
												<p class="tax">{{ text_tax }} {{ product.tax }}</p>
											{% endif %}
										</div>
										<button type="button" class="one_click">Купить в 1 клик</button>
									</div>					
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %} 
				<div class="row">
					<div class="col-sm-12 text-left">{{ pagination }}</div>
				</div>
			</div>
		{% else %}
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
		{% endif %}

		{{ content_bottom }}
	</div>
	{{ column_right }}
</div>
</div>

<div class="quickmenu">
	<div class="container">
		<section class="oneClick">
			<h3 class="oneClick__title">До новой двери - один клик</h3>
			<div class="container">
				<div class="oneClick__body">
					<div class="oneClick__item">
						<div class="oneClick__number">
							<svg width="25" height="49" viewBox="0 0 25 49" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M0.362305 0.647461V12.7737H8.50679V48.2475H24.5243V0.647461H0.362305Z"
									fill="#FBD239" />
							</svg>
						</div>
						<div class="oneClick__headline">Подбор двери</div>
						<div class="oneClick__subHeadline">Вы можете подобрать дверь
							на нашем сайте или проконсультироваться у&nbsp;нашего менеджера
						</div>
					</div>
					<div class="oneClick__item">
						<div class="oneClick__number">
							<svg width="40" height="49" viewBox="0 0 40 49" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M39.1305 37.9475V48.4475H2.63047V40.1475L20.2305 23.7475C21.9305 22.1475 23.0305 20.7475 23.6305 19.6475C24.2305 18.5475 24.5305 17.3475 24.5305 16.1475C24.5305 14.6475 24.0305 13.4475 23.0305 12.5475C22.0305 11.7475 20.5305 11.2475 18.5305 11.2475C16.8305 11.2475 15.2305 11.6475 13.7305 12.4475C12.2305 13.2475 11.1305 14.3475 10.1305 15.8475L0.230469 10.4475C2.03047 7.44746 4.63047 5.04746 7.93047 3.24746C11.2305 1.54746 15.1305 0.647461 19.6305 0.647461C23.2305 0.647461 26.3305 1.24746 29.1305 2.34746C31.8305 3.54746 34.0305 5.14746 35.5305 7.34746C37.0305 9.54746 37.8305 12.0475 37.8305 14.8475C37.8305 17.3475 37.3305 19.7475 36.2305 22.0475C35.1305 24.3475 33.0305 26.8475 29.9305 29.7475L21.1305 37.9475H39.1305Z"
									fill="#FBD239" />
							</svg>
						</div>
						<div class="oneClick__headline">Бесплатный замер</div>
						<div class="oneClick__subHeadline">Наш специалист приедет
							к&nbsp;вам на&nbsp;дом с&nbsp;каталогами и образцами для замера ваших дверей
						</div>
					</div>
					<div class="oneClick__item">
						<div class="oneClick__number">
							<svg width="40" height="50" viewBox="0 0 40 50" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M28.6937 19.4431L37.3618 10.5505V0.647461H2.48986V12.6726H19.2284L12.3536 19.7463V29.5483H18.531C22.2174 29.5483 24.1105 30.6599 24.1105 32.782C24.1105 33.8935 23.5127 35.0051 22.4167 35.5104C21.0218 36.2177 19.5273 36.5209 18.0328 36.4198C15.8408 36.4198 13.7485 36.1167 11.6562 35.5104C9.46425 34.9041 7.37193 34.0956 5.47888 32.9841L0.0986328 44.9082C2.78876 46.424 5.67815 47.4345 8.66718 48.0408C11.8555 48.7482 15.243 49.1524 18.531 49.1524C22.616 49.2534 26.701 48.5461 30.4871 46.8282C33.3765 45.5145 35.8673 43.4935 37.5611 40.8661C39.0556 38.5419 39.8527 35.7125 39.8527 32.883C39.9523 29.7504 38.8564 26.7189 36.9633 24.2936C34.7714 21.7673 31.882 20.0494 28.6937 19.4431Z"
									fill="#FBD239" />
							</svg>
						</div>
						<div class="oneClick__headline">Просчет</div>
						<div class="oneClick__subHeadline">Просчитаем стоимость комплектации и установки двери,
							зафиксируем
							стоимость в&nbsp;договоре
						</div>
					</div>
					<div class="oneClick__item">
						<div class="oneClick__number">
							<svg width="39" height="49" viewBox="0 0 39 49" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M33.5746 29.9281H38.3756V41.0275H33.5746V48.3136H21.3664V41.0275H0.310547V29.9281L14.645 0.647461H28.2249L13.7533 29.9281H21.3664V21.3482H33.5746V29.9281Z"
									fill="#FBD239" />
							</svg>
						</div>
						<div class="oneClick__headline">Монтаж двери</div>
						<div class="oneClick__subHeadline">В течении 3 дней после оформления заказа мы установим ваши
							двери
						</div>
					</div>
				</div>
				<div class="oneClick__bottomTitle">
					И все это не выходя из дома
				</div>
				<button data-src="#modal" data-fancybox class="oneClick__button">Вызвать замерщика</button>
			</div>

		</section>
	</div>
</div>
<div class="our-benefits">
	<a href="/zamer" class="our-benefits__item">
		<svg class="our-benefits__icon" width="81" height="81" viewBox="0 0 81 81" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M79.2811 11.547L69.0534 1.31936C67.5637 -0.170332 65.1397 -0.170176 63.65 1.31936L44.3933 20.5759C43.9111 21.0583 43.9111 21.8398 44.3933 22.3222C44.8755 22.8042 45.6572 22.8042 46.1394 22.3222L65.3959 3.0656C65.6512 2.81029 65.9906 2.66982 66.3515 2.66982C66.7125 2.66982 67.0519 2.81029 67.3072 3.0656L77.535 13.2933C77.7901 13.5484 77.9308 13.8878 77.9308 14.2489C77.9308 14.6098 77.7901 14.9492 77.535 15.2044L75.025 17.7143L68.4486 11.1381C67.9664 10.6561 67.1847 10.6561 66.7025 11.1381C66.2203 11.6204 66.2203 12.402 66.7025 12.8844L73.2787 19.4606L70.4111 22.3283L67.5208 19.4379C67.0386 18.9559 66.2569 18.9559 65.7747 19.4379C65.2925 19.9203 65.2925 20.7019 65.7747 21.1842L68.665 24.0743L65.7973 26.942L62.907 24.0517C62.4248 23.5697 61.6431 23.5697 61.1609 24.0517C60.6787 24.534 60.6787 25.3156 61.1609 25.7979L64.0512 28.6881L61.1836 31.5558L54.6072 24.9792C54.1251 24.4973 53.3433 24.497 52.8611 24.9792C52.3789 25.4615 52.3789 26.2431 52.8611 26.7254L59.4375 33.3018L56.5698 36.1695L53.6795 33.2792C53.1973 32.7972 52.4156 32.7972 51.9334 33.2792C51.4512 33.7615 51.4512 34.5431 51.9334 35.0254L54.8236 37.9156L52.3976 40.3415L40.2587 28.2026L46.1394 22.3222C46.6215 21.8398 44.8755 22.8045 44.3933 22.3222C43.9111 21.8401 44.8755 20.0939 44.3933 20.5759L38.5125 26.4564L15.7362 3.68092C14.1522 2.09686 12.0461 1.22451 9.80593 1.22451C7.56578 1.22467 5.45969 2.09701 3.87578 3.68107C2.29156 5.26514 1.41922 7.37107 1.41922 9.61138C1.41922 11.8515 2.29156 13.9576 3.87562 15.5417L26.6514 38.3175L1.51766 63.4517C0.0279689 64.9415 0.0279689 67.3654 1.51766 68.8553L11.7453 79.0831C12.4669 79.8046 13.4264 80.2021 14.447 80.2021C15.4677 80.2021 16.4272 79.8046 17.1487 79.0831L42.2828 53.949L48.1197 59.7859C48.6019 60.2679 47.6375 58.5217 48.1197 58.0396C48.6019 57.5573 50.348 58.522 49.8658 58.0396L43.3481 51.522C43.3001 51.4461 43.2439 51.3739 43.1778 51.3078C43.1117 51.2417 43.0395 51.1854 42.9637 51.1375L16.2102 24.3839L19.2203 21.3737L21.5684 23.4815C64.9108 66.4625 22.1255 23.4815 22.4416 23.4815C22.7577 23.4815 23.0736 23.3609 23.3147 23.12C23.7969 22.6376 23.7969 21.8561 23.3147 21.3737L21.2677 19.3267L24.5787 16.0156L37.638 29.0748L37.6395 29.0765L37.6412 29.0781L51.4039 42.8407C51.438 42.8857 51.4742 42.9298 51.5153 42.9709C51.5564 43.012 51.6003 43.0482 51.6453 43.0823L69.9684 61.4054L66.6573 64.7165L48.1705 46.2297C48.1594 46.2176 48.1494 46.205 48.1376 46.1934L40.7655 38.8211C40.7533 38.8089 40.74 38.7982 40.7275 38.7867L23.3147 21.3737C22.8325 20.8917 23.7969 22.6379 23.3147 23.12C22.8325 23.6023 19.2203 21.3737 21.5684 23.4815L64.9108 66.4625L61.5995 69.7736L49.8658 58.0396C49.3836 57.5576 48.6019 57.5576 48.1197 58.0396C47.6375 58.522 47.6375 59.3036 48.1197 59.7859L60.7265 72.3928C60.8464 72.5126 60.9948 72.6093 61.1528 72.6706L76.0712 78.4626C76.3065 78.5539 76.5518 78.5982 76.7953 78.5982C77.3175 78.5982 77.8303 78.3939 78.2129 78.0109C78.774 77.4495 78.9506 76.6089 78.6629 75.8692L72.8648 60.9576C72.8036 60.8001 72.7069 60.6514 72.5872 60.5318L54.1436 42.0883L79.2811 16.9506C80.7709 15.4608 80.7709 13.0369 79.2811 11.547ZM40.5372 52.2029L38.1142 54.6253L35.2239 51.735C34.7417 51.2529 33.96 51.2529 33.4778 51.735C32.9956 52.2173 32.9956 52.9989 33.4778 53.4812L36.3681 56.3715L33.5005 59.2392L26.9241 52.6628C26.4419 52.1807 25.6601 52.1807 25.178 52.6628C24.6958 53.1451 24.6958 53.9267 25.178 54.409L31.7544 60.9854L28.8867 63.8531L25.9964 60.9628C25.5142 60.4807 24.7325 60.4807 24.2503 60.9628C23.7681 61.4451 23.7681 62.2267 24.2503 62.709L27.1406 65.5992L24.273 68.4668L21.3827 65.5765C20.9005 65.0945 20.1187 65.0945 19.6366 65.5765C19.1544 66.0589 19.1544 66.8404 19.6366 67.3228L22.5269 70.2131L19.6592 73.0807L13.0828 66.5043C12.6006 66.0223 11.8189 66.0223 11.3367 66.5043C10.8545 66.9867 10.8545 67.7682 11.3367 68.2506L17.9131 74.8268L15.4031 77.3368C15.1478 77.5921 14.8084 77.7328 14.4475 77.7328C14.0866 77.7328 13.7472 77.5921 13.4919 77.3368L3.26422 67.109C2.73734 66.5822 2.73734 65.7248 3.26422 65.1979L28.3981 40.0639L40.5372 52.2029ZM5.62172 13.7956C3.31453 11.4884 3.31453 7.73435 5.62172 5.42717C7.9289 3.11982 11.683 3.11982 13.9902 5.42717L17.8927 9.32967L9.52422 17.6981L5.62172 13.7956ZM18.6491 18.4526L18.6475 18.4542L14.4641 22.6376L11.2705 19.444L19.6389 11.0756L22.8325 14.2692L18.6491 18.4526ZM75.9779 75.7773L63.8117 71.054L71.2494 63.6164L75.9779 75.7773Z"
				fill="#2C2B3F" />
		</svg>

		<div class="our-benefits__headline">Бесплатный замер</div>
		<div class="our-benefits__sub-headline">Замерщик выезжает на адрес с образцами цветов и каталогами.
			Производит точный замер и четко просчитывает всю сумму под ключ с установкой.
		</div>
	</a>
	<a href="/delivery" class="our-benefits__item">
		<svg class="our-benefits__icon" width="81" height="81" viewBox="0 0 81 81" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M80.0473 46.1289L74.9405 38.4689V32.1209C76.0131 32.2607 77.1012 32.0284 78.0234 31.4628C78.9456 30.8972 79.6461 30.0324 80.0082 29.0126C80.3703 27.9929 80.3721 26.8797 80.0132 25.8588C79.6544 24.8379 78.9567 23.9708 78.0363 23.4023L66.9446 16.5183V4.20232C66.9446 3.8487 66.8042 3.50956 66.5543 3.25951C66.3043 3.00946 65.9654 2.86899 65.6119 2.86899H57.616C57.2625 2.86899 56.9236 3.00946 56.6736 3.25951C56.4237 3.50956 56.2833 3.8487 56.2833 4.20232V9.89697L40.9937 0.402328C40.7828 0.271478 40.5396 0.202148 40.2914 0.202148C40.0433 0.202148 39.8 0.271478 39.5891 0.402328L2.54653 23.4023C1.62003 23.9677 0.91623 24.835 0.553335 25.8583C0.190441 26.8816 0.190558 27.9987 0.553668 29.022C0.916777 30.0452 1.62076 30.9123 2.54738 31.4776C3.47401 32.0429 4.56682 32.2719 5.6423 32.1263V72.2022H1.64432C1.29088 72.2022 0.951915 72.3426 0.701993 72.5927C0.452071 72.8427 0.311667 73.1819 0.311667 73.5355C0.311667 73.8891 0.452071 74.2283 0.701993 74.4783C0.951915 74.7284 1.29088 74.8688 1.64432 74.8688H40.2914V78.8688C40.2914 79.2224 40.4318 79.5616 40.6817 79.8116C40.9317 80.0617 41.2706 80.2021 41.6241 80.2021H78.9385C79.292 80.2021 79.6309 80.0617 79.8808 79.8116C80.1308 79.5616 80.2712 79.2224 80.2712 78.8688V46.8689C80.2373 46.6117 80.1617 46.3617 80.0473 46.1289ZM62.7054 45.5356H57.8572L58.7447 40.2022H61.8178L62.7054 45.5356ZM55.1546 45.5356H44.1135L47.6677 40.2022H56.0434L55.1546 45.5356ZM57.616 48.2022H62.9466V57.7102L61.0209 56.4262C60.8019 56.28 60.5446 56.202 60.2813 56.202C60.018 56.202 59.7607 56.28 59.5417 56.4262L57.616 57.7102V48.2022ZM65.408 45.5356L64.5191 40.2022H72.8949L76.4491 45.5356H65.408ZM58.9486 5.53565H64.2793V14.869L58.9486 11.5583V5.53565ZM4.04311 29.2303C3.72788 29.0563 3.46365 28.8027 3.27669 28.4949C3.08972 28.1871 2.98653 27.8357 2.97737 27.4756C2.96821 27.1155 3.05339 26.7593 3.22446 26.4423C3.39553 26.1254 3.64652 25.8588 3.95249 25.6689L40.2914 3.10499L76.6303 25.6689C77.0926 25.9592 77.4212 26.4208 77.5442 26.9527C77.6673 27.4847 77.5747 28.0438 77.2869 28.5077C76.999 28.9716 76.5393 29.3026 76.0082 29.4282C75.4771 29.5539 74.9178 29.464 74.4528 29.1783L40.9937 8.40231C40.7828 8.27146 40.5396 8.20213 40.2914 8.20213C40.0433 8.20213 39.8 8.27146 39.5891 8.40231L6.13005 29.1809C5.81902 29.3768 5.4608 29.4848 5.09338 29.4935C4.72596 29.5022 4.36304 29.4112 4.04311 29.2303ZM16.3036 72.2022V42.8689H32.2955V72.2022H16.3036ZM34.9608 72.2022V41.5356C34.9608 41.1819 34.8204 40.8428 34.5705 40.5928C34.3205 40.3427 33.9816 40.2022 33.6281 40.2022H14.9709C14.6175 40.2022 14.2785 40.3427 14.0286 40.5928C13.7787 40.8428 13.6383 41.1819 13.6383 41.5356V72.2022H8.30762V30.9663L40.2914 11.0996L72.2752 30.9663V37.5356H46.9547C46.7354 37.5355 46.5194 37.5897 46.326 37.6932C46.1326 37.7967 45.9677 37.9464 45.8459 38.1289L40.5153 46.1289C40.4009 46.3617 40.3253 46.6117 40.2914 46.8689V72.2022H34.9608ZM77.6059 77.5355H42.9567V48.2022H54.9507V60.2022C54.9506 60.4436 55.0161 60.6805 55.1401 60.8875C55.264 61.0946 55.4419 61.2641 55.6546 61.378C55.8674 61.4919 56.107 61.5459 56.348 61.5342C56.589 61.5224 56.8222 61.4455 57.0229 61.3115L60.2813 59.1355L63.5396 61.3089C63.7402 61.4427 63.9732 61.5196 64.2139 61.5315C64.4547 61.5433 64.6942 61.4895 64.9068 61.376C65.1194 61.2624 65.2973 61.0933 65.4215 60.8866C65.5457 60.6799 65.6115 60.4434 65.6119 60.2022V48.2022H77.6059V77.5355Z"
				fill="#2C2B3F" />
			<path
				d="M29.6302 56.2021H28.2975C27.9441 56.2021 27.6051 56.3426 27.3552 56.5927C27.1052 56.8427 26.9648 57.1819 26.9648 57.5355C26.9648 57.8891 27.1052 58.2282 27.3552 58.4783C27.6051 58.7283 27.9441 58.8688 28.2975 58.8688H29.6302C29.9836 58.8688 30.3226 58.7283 30.5725 58.4783C30.8224 58.2282 30.9628 57.8891 30.9628 57.5355C30.9628 57.1819 30.8224 56.8427 30.5725 56.5927C30.3226 56.3426 29.9836 56.2021 29.6302 56.2021Z"
				fill="#2C2B3F" />
			<path
				d="M48.2868 25.5351C48.2868 23.9529 47.8179 22.4062 46.9393 21.0906C46.0607 19.775 44.8119 18.7496 43.3508 18.1441C41.8897 17.5386 40.282 17.3802 38.7309 17.6889C37.1799 17.9976 35.7551 18.7595 34.6369 19.8783C33.5186 20.9971 32.7571 22.4226 32.4486 23.9744C32.14 25.5263 32.2984 27.1348 32.9036 28.5966C33.5088 30.0584 34.5336 31.3078 35.8486 32.1869C37.1635 33.0659 38.7094 33.5351 40.2909 33.5351C42.4109 33.533 44.4435 32.6895 45.9425 31.1896C47.4416 29.6898 48.2847 27.6562 48.2868 25.5351ZM41.6235 30.6791V26.8685H45.4323C45.1928 27.7848 44.7137 28.6208 44.0444 29.2905C43.375 29.9602 42.5394 30.4395 41.6235 30.6791ZM45.4323 24.2018H41.6235V20.3912C42.5394 20.6308 43.375 21.11 44.0444 21.7798C44.7137 22.4495 45.1928 23.2855 45.4323 24.2018ZM38.9582 20.3912V24.2018H35.1495C35.389 23.2855 35.868 22.4495 36.5374 21.7798C37.2068 21.11 38.0424 20.6308 38.9582 20.3912ZM35.1495 26.8685H38.9582V30.6791C38.0424 30.4395 37.2068 29.9602 36.5374 29.2905C35.868 28.6208 35.389 27.7848 35.1495 26.8685Z"
				fill="#2C2B3F" />
		</svg>

		<div class="our-benefits__headline">Доставка</div>
		<div class="our-benefits__sub-headline">Вы можете заказать доставку любого вида товара, размещенного на
			нашем сайте. Доставка может быть осуществлена как до подъезда, так и с подъемом на этаж.
		</div>
	</a>
	<a {% if main_category == 59 %} href="/mezhkomnatnye-dveri-nedorogo-s-ustanovkoi-pod-klyuch" {% else %}
		{% if main_category == 60 %} href="/vhodnye-dveri-s-ustanovkoy" {% endif %} {% endif %}
		class="our-benefits__item">
		<svg class="our-benefits__icon" width="81" height="81" viewBox="0 0 81 81" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M54.5402 24.4443C53.6761 24.4443 52.9746 25.1426 52.9746 26.0062C52.9746 26.8693 53.6761 27.5687 54.5402 27.5687C55.4061 27.5687 56.1057 26.8693 56.1057 26.0062C56.1057 25.1426 55.4061 24.4443 54.5402 24.4443Z"
				fill="#2C2B3F" />
			<path
				d="M26.0929 52.834C25.227 52.834 24.5273 53.5341 24.5273 54.3965C24.5273 55.2607 25.227 55.959 26.0929 55.959C26.957 55.959 27.6585 55.2607 27.6585 54.3965C27.6585 53.5341 26.957 52.834 26.0929 52.834Z"
				fill="#2C2B3F" />
			<path
				d="M78.4471 9.81473C77.9187 9.69205 77.3634 9.85135 76.9818 10.2359L70.4915 16.7648H67.3799L63.9547 13.2229V10.0741L70.352 3.59402C70.7306 3.21072 70.8847 2.65957 70.7593 2.13528C70.6346 1.6116 70.2481 1.18924 69.7368 1.01712C68.1297 0.476345 66.4479 0.202297 64.7374 0.202297C59.6384 0.202297 55.0059 2.57535 52.0277 6.71292C49.2402 10.5862 48.381 15.3329 49.6121 19.8758L38.0801 31.3852L18.8678 12.1664V8.39444C18.8678 7.84573 18.5792 7.3367 18.1077 7.05472L7.03806 0.425075C6.42162 0.0558122 5.63334 0.152858 5.12576 0.660061L0.698164 5.0784C0.190581 5.5856 0.0933449 6.37234 0.462719 6.98758L7.10411 18.0356C7.38664 18.5061 7.89606 18.7936 8.44584 18.7942L12.224 18.7954L31.4381 38.0142L19.9502 49.4797C15.3985 48.2516 10.6401 49.1104 6.75736 51.8942C2.61414 54.8648 0.238281 59.487 0.238281 64.5761C0.238281 66.2827 0.512865 67.9617 1.0547 69.5651C1.22776 70.0784 1.65523 70.466 2.18361 70.5881C2.7126 70.7108 3.26727 70.5515 3.64949 70.1669L10.1392 63.6386H13.2679L16.8326 67.1964V70.3189L10.2915 76.796C9.90621 77.1774 9.7466 77.731 9.86952 78.259C9.99183 78.7863 10.3802 79.213 10.8945 79.3857C12.501 79.9265 14.1834 80.2005 15.8932 80.2005C20.9923 80.2005 25.6229 77.8287 28.6 73.6936C31.3892 69.8184 32.2497 65.0699 31.0192 60.527L40.2456 51.3187L42.3591 53.6099L41.3892 54.5773C40.7777 55.1877 40.7777 56.1771 41.3892 56.7874C42.0008 57.3972 42.9915 57.3972 43.6036 56.7874L44.4818 55.9109L64.3118 77.4088C64.3265 77.4246 64.3418 77.4399 64.357 77.4552C68.0263 81.1173 73.9712 81.1185 77.6423 77.4545C81.303 73.7991 81.303 67.8513 77.6423 64.1959C77.6264 64.18 77.6099 64.1647 77.5934 64.1495L56.0198 44.396L56.8882 43.5294C57.4998 42.9196 57.4998 41.9302 56.8882 41.3199C56.2767 40.7095 55.286 40.7095 54.6738 41.3199L53.7106 42.2818L51.4106 40.1749L60.6817 30.9219C61.9995 31.2735 63.3596 31.4517 64.7374 31.4517C73.37 31.4517 80.3924 24.4424 80.3924 15.8273C80.3924 14.1202 80.1178 12.4417 79.576 10.8377C79.4029 10.3244 78.9754 9.9368 78.4471 9.81473ZM13.9816 16.1294C13.688 15.8359 13.2899 15.6863 12.874 15.6863L9.33319 15.6851L3.77669 6.42606L6.47544 3.73257L15.7367 9.27945V12.8134C15.7367 13.2272 15.9012 13.6239 16.1941 13.9169L35.8663 33.5953L33.6519 35.8047L13.9816 16.1294ZM53.8036 46.608L75.4505 66.4279C77.8685 68.8669 77.8612 72.8159 75.4279 75.2457C72.989 77.6798 69.0409 77.6871 66.5922 75.267L46.6974 53.699L53.8036 46.608ZM51.4944 44.4931L44.5748 51.398L42.4613 49.1067L49.1944 42.3862L51.4944 44.4931ZM64.7374 28.3267C63.3682 28.3267 62.0216 28.1076 60.7361 27.6755C60.1729 27.4869 59.5503 27.6321 59.1296 28.0514C51.281 35.8847 34.3693 52.7628 28.1419 58.9786C27.7212 59.3985 27.575 60.0198 27.7652 60.5826C29.0666 64.4394 28.444 68.5532 26.0565 71.8704C23.6758 75.1779 19.971 77.0755 15.8932 77.0755C15.4352 77.0755 14.9796 77.0505 14.5283 77.0023L19.5008 72.078C19.7967 71.785 19.9637 71.3858 19.9637 70.9689V66.5488C19.9637 66.1343 19.7986 65.737 19.505 65.444L15.023 60.9708C14.7295 60.6778 14.3314 60.513 13.9161 60.513H9.4873C9.06962 60.513 8.66967 60.6796 8.37551 60.975L3.44217 65.9378C3.39325 65.4874 3.36879 65.0327 3.36879 64.5755C3.36879 60.5051 5.26947 56.8082 8.58405 54.4321C11.9072 52.0493 16.0296 51.4273 19.8946 52.7267C20.4578 52.9166 21.0804 52.7707 21.5011 52.3508C21.5874 52.2653 52.4668 21.4456 52.4888 21.4236C52.9095 21.0037 53.0551 20.383 52.8655 19.8202C51.5635 15.9634 52.1848 11.8509 54.5705 8.53604C56.9531 5.22549 60.6584 3.3273 64.7368 3.3273C65.2089 3.3273 65.678 3.35354 66.1428 3.40481L61.2736 8.33707C60.985 8.62943 60.8235 9.0231 60.8235 9.43326V13.8534C60.8235 14.2587 60.9807 14.6475 61.2626 14.9386L65.5881 19.4119C65.8829 19.7171 66.2895 19.8892 66.7146 19.8892H71.1434C71.5604 19.8892 71.9604 19.7232 72.2546 19.4272L77.1879 14.465C77.2368 14.9154 77.2613 15.3702 77.2613 15.8273C77.2613 22.7194 71.643 28.3267 64.7374 28.3267Z"
				fill="#2C2B3F" />
			<path
				d="M53.2773 25.054L24.9494 53.3238C24.3385 53.9335 24.4185 54.9327 25.0295 55.543C25.641 56.1534 26.6607 56.0503 27.2723 55.4399L55.6482 27.1417C56.3047 26.3545 56.2131 25.4728 55.6016 24.8625C54.99 24.2521 53.8672 24.3194 53.2773 25.054Z"
				fill="#2C2B3F" />
			<path
				d="M68.7884 70.8267C69.4 71.4352 70.3913 71.4352 71.0028 70.823C71.6131 70.2121 71.6113 69.2227 70.9992 68.6135L56.8877 54.5748C56.2756 53.9657 55.2836 53.9675 54.6739 54.5785C54.063 55.1901 54.0648 56.1789 54.677 56.788L68.7884 70.8267Z"
				fill="#2C2B3F" />
		</svg>

		<div class="our-benefits__headline">Установка</div>
		<div class="our-benefits__sub-headline">Наши монтажники имеют опыт установки от 5 лет. Устанавливают двери
			с различными системами открывания</div>

	</a>
	<a href="/o-kompanii" class="our-benefits__item">
		<svg class="our-benefits__icon" width="72" height="82" viewBox="0 0 72 82" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M63.313 14.5146C60.8368 14.2014 58.4168 13.6521 56.1213 12.8825C55.5072 12.6768 54.8432 13.0076 54.6375 13.621C54.4318 14.235 53.9427 13.3656 55.376 15.1048C57.6212 16.0756 60.3895 16.5074 63.0195 16.84C66.9636 17.3393 69.7785 20.9794 69.2939 24.954C68.6585 30.1664 67.4952 37.9466 65.5616 45.41C63.4552 53.5393 60.9833 59.1954 58.2141 62.2216C52.5275 68.4356 45.398 73.9434 40.4187 77.4694C37.8021 79.3224 34.2865 79.3224 31.6705 77.4694C26.6913 73.9434 19.5617 68.4356 13.8751 62.2216C11.1059 59.1954 8.63336 53.5393 6.52764 45.41C4.59405 37.9466 3.43071 30.1664 2.79473 24.954C2.31072 20.9794 5.12505 17.3393 9.06976 16.84C20.44 15.402 27.9761 9.6891 32.2961 5.14991C33.2806 4.11597 34.6118 3.5459 36.0443 3.5459C37.4768 3.5459 38.808 4.11597 39.7931 5.14991C42.9053 8.42018 51.3935 13.1156 55.376 15.1048C56.1213 13.9833 54.3482 14.2002 54.6375 13.621C54.9262 13.0418 56.6999 13.1712 56.1213 12.8825C52.3822 11.0148 44.4153 6.60682 41.4905 3.53431C40.0592 2.0304 38.125 1.20215 36.0443 1.20215C33.9636 1.20215 32.0294 2.0304 30.5981 3.53431C26.5405 7.79762 19.461 13.1632 8.77557 14.5146C3.55462 15.175 -0.172199 19.9858 0.468061 25.2378C1.55937 34.1893 4.88213 55.8666 12.1459 63.8042C17.9724 70.1708 25.2429 75.7897 30.3155 79.3822C32.0288 80.5956 34.0362 81.2023 36.0443 81.2023C38.0518 81.2017 40.0598 80.5956 41.7731 79.3822C46.8457 75.7897 54.1162 70.1708 59.9427 63.8042C67.2071 55.8666 70.5292 34.1893 71.6206 25.2378C72.2608 19.9858 68.534 15.175 63.313 14.5146Z"
				fill="#2C2B3F" />
			<path
				d="M56.1213 12.8825C58.4168 13.6521 60.8368 14.2014 63.313 14.5146C68.534 15.175 72.2608 19.9858 71.6206 25.2378C70.5292 34.1893 67.2071 55.8666 59.9427 63.8042C54.1162 70.1708 46.8457 75.7897 41.7731 79.3822C40.0598 80.5956 38.0518 81.2017 36.0443 81.2023C34.0362 81.2023 32.0288 80.5956 30.3155 79.3822C25.2429 75.7897 17.9724 70.1708 12.1459 63.8042C4.88213 55.8666 1.55937 34.1893 0.468061 25.2378C-0.172199 19.9858 3.55462 15.175 8.77557 14.5146C19.461 13.1632 26.5405 7.79762 30.5981 3.53431C32.0294 2.0304 33.9636 1.20215 36.0443 1.20215C38.125 1.20215 40.0592 2.0304 41.4905 3.53431C44.4153 6.60682 52.3822 11.0148 56.1213 12.8825ZM56.1213 12.8825C55.5072 12.6768 54.8432 13.0076 54.6375 13.621M56.1213 12.8825C56.6999 13.1712 54.9262 13.0418 54.6375 13.621M54.6375 13.621C54.4318 14.235 53.9427 13.3656 55.376 15.1048M54.6375 13.621C54.3482 14.2002 56.1213 13.9833 55.376 15.1048M55.376 15.1048C57.6212 16.0756 60.3894 16.5074 63.0195 16.84C66.9636 17.3393 69.7785 20.9794 69.2939 24.954C68.6585 30.1664 67.4952 37.9466 65.5616 45.41C63.4552 53.5393 60.9833 59.1954 58.2141 62.2216C52.5275 68.4356 45.398 73.9434 40.4187 77.4694C37.8021 79.3224 34.2865 79.3224 31.6705 77.4694C26.6913 73.9434 19.5617 68.4356 13.8751 62.2216C11.1059 59.1954 8.63336 53.5393 6.52764 45.41C4.59405 37.9466 3.43071 30.1664 2.79473 24.954C2.31072 20.9794 5.12505 17.3393 9.06976 16.84C20.44 15.402 27.9761 9.6891 32.2961 5.14991C33.2806 4.11597 34.6118 3.5459 36.0443 3.5459C37.4768 3.5459 38.808 4.11597 39.7931 5.14991C42.9053 8.42018 51.3935 13.1156 55.376 15.1048Z"
				stroke="#2C2B3F" stroke-width="0.6" />
			<path
				d="M33.3933 12.2146C27.465 17.3446 20.5442 20.7021 12.8238 22.1938C10.4715 22.6486 8.88338 24.8727 9.20809 27.2579C9.75435 31.2686 10.8713 38.7692 12.211 43.9401C14.653 53.3676 17.0145 56.9571 18.2047 58.2571C22.117 62.5321 29.3766 68.2443 33.3555 71.2686C34.1453 71.8686 35.0913 72.1683 36.0374 72.1683C36.9834 72.1683 37.9295 71.8686 38.7193 71.2686C42.6981 68.2443 49.9577 62.5321 53.87 58.2571C55.0602 56.9571 57.4217 53.3676 59.8637 43.9401C61.204 38.768 62.3204 31.268 62.8673 27.2579C63.192 24.8727 61.6032 22.6486 59.2509 22.1938C51.5306 20.7021 44.6098 17.3446 38.6814 12.2146C37.1738 10.9102 34.9009 10.9102 33.3933 12.2146ZM60.5449 26.9412C60.0053 30.9005 58.9048 38.2968 57.595 43.3523C55.1262 52.8824 52.7964 55.9586 52.1415 56.6751C48.2115 60.9689 40.4539 67.0059 37.3008 69.4022C36.5568 69.968 35.518 69.968 34.7739 69.4022C31.6209 67.0059 23.8633 60.9683 19.9338 56.6751C19.2783 55.9586 16.9486 52.8824 14.4797 43.3523C13.1705 38.298 12.07 30.9011 11.5305 26.9412C11.373 25.7882 12.1366 24.714 13.2682 24.4949C21.3974 22.9244 28.6844 19.3893 34.9271 13.987C35.2433 13.713 35.6406 13.5757 36.0374 13.5757C36.4341 13.5757 36.8314 13.713 37.1476 13.987C43.3903 19.3893 50.6773 22.9244 58.8066 24.4949C59.9382 24.714 60.7017 25.7882 60.5449 26.9412Z"
				fill="#2C2B3F" stroke="#2C2B3F" stroke-width="0.6" />
			<path
				d="M29.5339 37.7739C28.6525 37.0561 25.6777 35.5742 23.5475 38.3885C21.418 41.2022 23.2808 43.657 24.1622 44.3748L31.4003 50.2641C31.902 50.6724 30.8223 49.1178 31.2306 48.6155C31.639 48.1132 33.3815 48.8554 32.8798 48.4464L25.6417 42.5566C25.2462 42.2343 24.3819 41.1851 25.3658 39.8674C26.3497 38.5503 27.6589 39.2692 28.0544 39.5915L35.0911 45.3172C35.5556 45.695 36.23 45.662 36.6554 45.2403L46.9526 35.0395C47.7015 34.2974 48.9137 34.3035 49.6559 35.0524C50.3974 35.8006 50.3913 37.0134 49.6431 37.755L37.3781 49.9058C36.407 50.8421 35.3377 50.452 34.8268 50.0303L32.8798 48.4464C32.3775 48.0381 31.6396 48.1138 31.2306 48.6155C30.8223 49.1172 30.898 49.8557 31.4003 50.2641L33.3473 51.8485C34.1035 52.4638 35.0569 52.8031 36.0323 52.8031C37.162 52.8031 38.2258 52.3655 39.0278 51.5708L51.2922 39.4206C52.9591 37.769 52.9719 35.0694 51.3203 33.4026C49.6693 31.7363 46.9697 31.7235 45.3029 33.3745L35.7533 42.8349L29.5339 37.7739Z"
				fill="#2C2B3F" />
			<path
				d="M31.4003 50.2641L24.1622 44.3748C23.2808 43.657 21.418 41.2022 23.5475 38.3885C25.6777 35.5742 28.6525 37.0561 29.5339 37.7739L35.7533 42.8349L45.3029 33.3745C46.9697 31.7235 49.6693 31.7363 51.3203 33.4026C52.9719 35.0694 52.9591 37.769 51.2922 39.4206L39.0278 51.5708C38.2258 52.3655 37.162 52.8031 36.0323 52.8031C35.0569 52.8031 34.1035 52.4638 33.3473 51.8485L31.4003 50.2641ZM31.4003 50.2641C31.902 50.6724 30.8223 49.1178 31.2306 48.6155M31.4003 50.2641C30.898 49.8557 30.8223 49.1172 31.2306 48.6155M31.2306 48.6155C31.639 48.1132 33.3815 48.8554 32.8798 48.4464M31.2306 48.6155C31.6396 48.1138 32.3775 48.0381 32.8798 48.4464M32.8798 48.4464L25.6417 42.5566C25.2462 42.2343 24.3819 41.1851 25.3658 39.8674C26.3497 38.5503 27.6589 39.2692 28.0544 39.5915L35.0911 45.3172C35.5556 45.695 36.23 45.662 36.6554 45.2403L46.9526 35.0395C47.7015 34.2974 48.9137 34.3035 49.6559 35.0524C50.3974 35.8006 50.3913 37.0134 49.6431 37.755L37.3781 49.9058C36.407 50.8421 35.3377 50.452 34.8268 50.0303L32.8798 48.4464Z"
				stroke="#2C2B3F" stroke-width="0.6" />
		</svg>

		<div class="our-benefits__headline">Гарантия</div>
		<div class="our-benefits__sub-headline">Предоставляем официальную гарантию
			1 год на всю продукцию с нашего сайта
			и установку</div>
	</a>
</div>
{{ footer }}